body {
    color: black;
    font-family: "Cotham", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 20px;
    width: 1100px;
    margin: auto;
}

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

p {
    margin: 0 0 0 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

section {
    margin: 10px 0 10px 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul {
    padding-left: 0px;
}
li {
    list-style: none;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/* TYPE */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "REGLO";
    color: black;
    text-align: center;
}

h1, .h1 { 
    font-size: 70px; 
    text-align: center;
    margin-bottom: 40px;
}
h2, .h2 {
    font-size: 35px;
    text-align: left;
}
h3, .h3 { 
    font-size: 35px;
    text-align: left;
}

p {
    color: black;
    font-family: "Cotham", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.serif-font {
    font-family: "Bagnard", "Times New Roman", Times, serif;
}

.monospaced-font {
    font-family: "NotCourier", "Courier New", monospace;
}

code, kbd, pre, samp {
    font-family: "NotCourier", "Courier New", monospace;
}

/* MAIN PAGE */
#main {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 970px;
}
#main img {
    display:block;
    width: 70%;
    margin: auto;
}

/* PAGE TITLE + INFO */
.page-title {
    width: 100%;
    margin-bottom: 30px;
}
.more {
    text-align: center;
}

/*//////// REPORT PAGES ////////*/

/* BORDER */
header, #report-title, #report-info, aside, article {
    border-top: 3px solid blue;
}

/* HEADER */
header {
    width: 250px;
    float: left;
}
.logo {
    width: 110px;
    padding: 10px;
    position: relative;
}
.cover-img {
    display:block;
    width: 70%;
    margin: auto;
}
.logo-dossiers {
    font-family: Reglo;
    padding-left: 10px;
    margin-top: -11px;
    font-size: 23px;
}

/* REPORT TITLE */
#report-title {
    width: 520px;
    float: left;
    margin-left: 20px;
}

/* REPORT INFO */
#report-info {
    padding-top: 20px;
    width: 250px;
    float: left;
    margin-left: 20px;
}
#report-info p {
    font-size: 16px;
}

/* REPORT CONTENT */
.report-content {
    clear: both;
    display: block;
}

/* ASIDE MENU */
aside {
    width: 250px;
    float: left;
    display:block;
}

/* REPORT */
article {
    width: 790px;
    margin-left: 20px;
    float: left;
    display: block;
    margin-bottom: 40px;
}
article img {
    display:block;
    width: 70%;
    margin: auto;
}

/* SECTION */
section p + p {
    text-indent: 6%;
    margin-top: 0;
}

/* IMAGES */
figure {
    margin: 30px 0 30px 0;
}
figcaption {
    margin-top: 20px;
    text-align: center;
}

/* IMAGES */
#footnotes {
    padding-left: 6%;
}

/* FOOTER */

footer {
    padding-top: 30px;
    border-top: 2px solid black;
    position: relative;
    float: left;
    width: 1060px;
    margin-bottom: 30px;
}

.contact {
    text-align: center;
}
.footer-logos {
    float: right;
    width: 
}
.footer-logos img {
    height: 70px;
    padding: 10px;
    float: right;
}


/* MAIN RESEARCH PAGE: TABLE OF CONTENTS */ 

.cover-dossier {
    width: 250px;
    float: left;
    margin: 30px;
}

.list-group-item {
    border: 2px solid black;
    background-color: white;
}
.main-research-page-title {
    font-size: 144px;
}

a.list-group-item:focus, a.list-group-item:hover {
    background-color: white;
}

/* ALERTS */

.alert-danger {
    border: 2px solid red;
    color: red;
    background-color: white;
}
.alert-success {
    border: 2px solid blue;
    color: blue;
    background-color: white;
}

/* CODE */
code, pre {
    display: block;
    padding: 0px;
    margin: 0 0 0px;
    font-size: 16px;
    color: black;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    overflow: "initial";
}

/* ACTIONS */

#header_slide {
    display: none;
}

#footer_slide {
    display: none;
}


/* RESPONSIVE */

@media (max-width:768px) and (max-width:992px) {
    .footer-logos {
        width: 100%;
    }
    #main {
       width: 100%;
    }
    .main-research-page-title {
        font-size: 20vw;
    }
}

/* PRINT STYLESHEET */

@media print {
    .screen-only {
        display: none;
    }
    footer {
        display: none;
    }
    .alert {
        display: none;
    }
    h1, .h1 { 
       page-break-after: always;
    }
}
@media screen {
    .print-only {
        display: none;
    }
}