/*  STRUCTURE PAGE REPORTS                                                     
+---------------------------------------------------------+
| +-<header>--+ +---------DIV ID----------+ |--DIV ID---| |
| |           | |     "report-title"      | "report-info" |
| | LOGO HPC  | |                         | +--DIV-ID---+ |
| |           | |                         | "report     | |
| |           | |        T I T L E        | | -abstract"| |
| +-----------+ |       R E P O R T       | |           | |
|               |                         | +--DIV ID---+ |
|               |                         | "report-date| |
|               |                         | |   -author"| |
|               |                         | |           | |
|               +-------------------------+ +-----------+ |
|                                                         |
| |--------------DIV class="report-content"-------------| |
| +--<aside>--+ +------------<article>------------------+ |
| | CONTENTS  | | REPORT CONTENT                        | |
| |           | |                                       | |
| | <ul>      | |  <section>                            | |
| |     <li>  | |       <p>                             | |
| |     ...   | |       ...                             | |
| |           | |                                       | |
| |           | |                                       | |
| +-----------+ |                                       | |
|               +---------------------------------------+ |
+---------------------------------------------------------+
/*                                                         


/*************** GENERAL ***************/

body {
    color: black;
    font-family: "Cotham", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
/* LINK */
a, a:link, a:hover, a:visited, a:active, a:focus {
    color: black;
    text-decoration: none;
}
/* PARAGRAPH */
p {
    margin: 0 0 0 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* SECTION */
section {
    margin: 10px 0 10px 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* LISTS */
ul {
    padding-left: 0px;
}
ul li {
    list-style-type: disc;
    list-style-position: inside;
}
ol li {
    list-style-type: decimal;
    color: black;
}
/* main page mystery */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/* COLUMNS WIDTH ETC */
.clear {
    clear: both;
    display: inline-block;
}
.one-column figure {
    width: 240px;
    margin-right: 20px;
    float: left;
}
.two-columns figure {
    width: 480px;
    margin-right: 20px;
    float: left;
}

/* OPTIONS FOR IMAGES LAYOUT */
/* initial image size */
.size1-1 figure img {
    width: initial;
}
/* image size: 100px */
.height100 figure img {
    height: 100px;
    width: unset;
}
/* image size: 150px */
.height150 figure img {
    height: 150px;
    width: unset;
}
/* left-aligned image */
.img-left figure img {
    margin-left: 0px;
    text-align: left;
}
/* left-aligned image’s caption */
.img-left figure figcaption {
    margin-left: 0px;
    text-align: left;
    padding-left: 6%;
}
/* right-aligned image with text around */
.img-right-float {
    float: right;
    width: 250px;
    margin: 20px 0 20px 20px;
}

/* OPTION: FRAME AROUND SOMETHING */
.frame {
    padding: 20px;
    border: 2px solid black;
    margin: 0px;
}


/*//////////// TYPE ////////////*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "REGLO";
    color: black;
}

h1, .h1 { 
    font-size: 70px; 
    text-align: left;
    margin-bottom: 40px;
}
h2, .h2 {
    font-family: "REGLO";
    font-size: 30px;
}
h3, .h3 { 
    font-size: 30px;
    text-align: left;
    margin-top: 5px;
}
p {
    color: black;
    font-family: "Cotham", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.serif-font {
    font-family: "Charter", "Times New Roman", Times, serif;
}
.monospaced-font {
    font-family: "NotCourier", "Courier New", monospace;
}
code, kbd, pre, samp {
    font-family: "NotCourier", "Courier New", monospace;
    font-size: 15px;
}
.font-lato {
    font-family: "LatoMedium";
}
.font-reglo {
    font-family: "REGLO";
}
.font-montserrat {
    font-family: "Montserrat";
}
.font-bagnard {
    font-family: "Bagnard";
}
.font-charter {
    font-family: "Charter";
}
.font-notcourier {
    font-family: "NotCourier";
}
.font-work {
    font-family: "Work";
}
/* OPTIONS FOR FONTS */
.stretch {
    display:inline-block; 
    font-size: 32px; 
    padding-left: 63px; 
    transform:scale(9,1); 
    -webkit-transform:scale(9,1); 
    -moz-transform:scale(9,1); 
    -ms-transform:scale(9,1); 
    -o-transform:scale(9,1);
}
/* dropped initial */
.dropped-initial::first-letter {
    font-family: Bagnard;
    font-size: 88px;
    padding-top: 5px;
    padding-right: 8px;
    float:left;
    color:black;
}
/* LINKS */
.link-underline a {
    border-bottom: 2px solid #33b5bc;
}


/************ GENERAL TEXT LAYOUT ************/
.no-indent {
    text-indent: 0;
}
/* CODE */
code, pre {
    display: block;
    padding: 0px;
    margin: 0 0 0px;
    color: black;
    word-break: keep-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    overflow: "initial";
}
pre code {
    word-break: keep-all;
}
blockquote {
    border-left: 5px solid #33b5bc;
}
.logo-HPC-main {
    position: absolute;
}

/*************** PAGE STRUCTURE ***************/

.container {
    padding-top: 30px;
}
.research-wrapper { 
    margin-left: auto; 
    margin-right: auto;
}
.row {
/* main page only */
    margin: 10px 0 20px 20px;
    clear: both;
    border-top: 2px solid #33b5bc;
}

/*//////// MAIN RESEARCH PAGE: TABLE OF CONTENTS ///////*/ 

/* PAGE TITLE + INFO */
.page-title {
    width: 70%;
    margin-bottom: 30px;
}
.main-research-page-title {
    font-size: 100px;
    text-align: center;
}
.main-page .navbar {
    display: none;
}
/* MAIN PAGE > DOSSIERS */
.cover-dossier {
    width: 230px;
    height: 300px;
    float: left;
    display: inline-block;
    margin: 0 20px 20px 0;
    background-image: url(../../static/cover-dossiers.png);
    background-size: 230px Auto;
    background-repeat: no-repeat;
}
.cover-dossier .list-group-item {
    border: 0;
}
/* MAIN PAGE > REPORTS */
.cover-report {
    width: 225px;
    float: left;
    margin: 0 15px 30px 15px;
    height: 290px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid black;
    -moz-box-shadow: 8px 8px black;
    -webkit-box-shadow: 8px 8px black;
    box-shadow: 7px 6px black;
}
.list-group-item {
    border: 0;
    border-bottom: 0;
    border-right: 0;
    background-color: transparent;
    overflow: hidden;
}
.list-group-item:first-child, .list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
a.list-group-item:focus, a.list-group-item:hover {
    background-color: transparent;
    text-decoration: none;
}
/* SLIDES */
.more {
    color: #33b5bc;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    clear: both;
}
.collapsed:active, .collapsed:focus {
    outline: none;
    text-decoration: none;
}

/* VALIDATION */
.validation-show {
    font-size: 14px;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 20px;
    color: grey;
    text-transform: none;
    display: none;
}
/* ALERTS */
.alert {
    font-size: 14px;
    display: visible;
    padding: 0px;
    display: none;
}
.alert, .panel {
    border: 0px;
    border-radius: 0px;
}
.alert, .thumbnail {
    margin-bottom: 0px;
}
.alert-danger {
    border: 0px;
    color: grey;
    background-color: transparent;
}
.alert-success {
    border: 0px;
    color: #33b5bc;
    background-color: transparent;
}

/*//////// REPORT PAGES ////////*/


/*//////// REPORT PAGES TEMPLATE ///////*/ 

/* BORDER-TOP */
#report-title, #report-info, #toc-hidden, article, #footnotes {
    border-top: 2px solid #33b5bc;
}

/* REPORT TITLE */
#report-title {
    float: left;
    padding-left: 20px;
}

/* NAVBAR HEADER */
.navbar {
    position: absolute;
    border: 0;
    border-radius: 0;
}
nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
}
.navbar-header {
    margin-left: auto;
    margin-right: auto;
}
.navbar-logo {
    width: 250px;
    float: left;
    padding-bottom: 30px;
    border-top: 0px solid black;
}
.logo-header-shrinked {
    display: none;
}
.logo {
    width: 110px;
    padding: 10px 0px;
    position: relative;
}
.cover-img {
    display:block;
    width: 70%;
    margin: auto;
}
.logo-dossiers {
    font-family: Reglo;
    padding-left: 0px;
    margin-top: 0px;
    font-size: 23px;
}

/* when we scroll, it shrinks and becomes fixed at the top */
nav.fixed-top {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: #33b5bc;
    height: 50px;
    padding-bottom: 20px;
    overflow: hidden;
}
nav.fixed-top #report-title .main-research-page-title {
    text-align: left;
}
nav.fixed-top #report-title {
    border-top: 0;
    padding-left: 0;
}
nav.fixed-top #report-title h1 {
    font-size: 23px;
    margin-top: 0;
    line-height: 50px;
}
/* title-fixed on main page only: */
#title-fixed {
    display: none;
}
nav.fixed-top #title-fixed {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: #33b5bc;
    height: 50px;
    padding-bottom: 20px;
    overflow: hidden;
}
nav.fixed-top #title-fixed h1 {
    font-size: 23px;
    margin-top: 0;
    line-height: 50px;
}
nav.fixed-top .logo-dossiers {
    margin-top: 10px;
}
nav.fixed-top .navbar-header img {
    display: none;
}
nav.fixed-top .navbar-header .navbar-logo .logo-dossiers span.logo-header-shrinked {
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    font-family: 'montserrat';
}
.arrow-style {
    font-size: 20px;
    vertical-align: 1px;
}
.arrow-top {
    display: block;
    position: absolute;
    top: 7px;
    right: 0px;
    height: 30px;
    color: white;
    font-family: 'Cotham';
    font-size: 15px;
    letter-spacing: 2px;
    z-index: 1900;
    padding-left: 5px;
    padding-right: 10px;
}
.arrow-top-return {
    display: block;
    position: absolute;
    top: 7px;
    left: 0px;
    height: 30px;
    color: white;
    font-family: 'Cotham';
    font-size: 15px;
    letter-spacing: 2px;
    z-index: 1900;
    padding-left: 10px;
    padding-right: 10px;
}
#empty-box-for-header1 {
    width: 250px;
    height: 100px;
    float: left;
    padding-bottom: 30px;
    border-top: 0 solid #000;
}
#empty-box-for-header2 {
    width: 520px;
    height: 100px;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    border-top: 0 solid #000;
}

/* REPORT CONTENT (INCL. MENU) */
.report-content {
    clear: both;
    display: inline-block;
}

/* ASIDE MENU */
aside {
    width: 250px;
    float: left;
    padding-right: 30px;
}
#toc-hidden {
    width: 250px;
}
aside h3 {
    font-family: "Cotham";
    font-size: 16px;
    border-bottom: 1px solid black;
    display: inline-block;
    margin-top: 40px;
}
aside li {
    font-size: 16px;
}
#empty-box-for-aside {
    float: left;
    width: 250px;
    height: 100px;
    border-top: 0 solid #000;
}
aside.TOC-fixed {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    top: 40px;
    border-bottom: 6px solid #33b5bc;
}
aside.TOC-fixed .TOC-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}
.TOC-wrapper {
    padding-bottom: 10px;
}
.scroll-collapse-menu {
    display: none;
}
aside.TOC-fixed .scroll-collapse-menu {
    display: block;
}
h3.toc-title {
    margin-top: 20px;
}


/* REPORT INFO */
#report-info {
    padding-top: 20px;
    width: 250px;
    float: left;
    margin-left: 20px;
}
#report-info p {
    font-size: 16px;
}
#report-info h2, #report-info .h2, #report-info h3, #report-info .h3 {
    font-family: "Cotham";
    font-size: 18px;
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: inline-block;
}
#report-abstract {
    padding-bottom: 30px;
}
#report-date-author {
    padding-top: 20px;
    padding-bottom: 30px;
}
#report-date:before {
    content: "Date:";
    margin-right: 7px;
    color: #33b5bc;
}
#report-authors:before {
    content: "By:";
    margin-right: 7px;
    color: #33b5bc;
}

/*//////// REPORTS ////////*/

/* REPORT */
article {
    width: 790px;
    margin-left: 20px;
    float: left;
    display: block;
    margin-bottom: 40px;
}
article a {
    border-bottom: 2px solid #33b5bc;
}
/* IMAGES */
figure {
    margin: 30px 0 30px 0;
}
figcaption {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

article img {
    display:block;
    width: 95%;
    margin: auto;
}
article video {
    width: 95%;
}
/* SECTIONS */
article section h2, article section .h2, article section h3, article section .h3 {
    font-family: "Cotham";
    font-size: 18px;
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: inline-block;
}
article section .chapter-number {
    font-family: "Bagnard";
    font-size: 50px;
    margin: 60px 0px;
    border-bottom: 0px;
    display: block;
    text-align: center;
}
section p + p {
    text-indent: 6%;
    margin-top: 0;
}

/* REPORT S FOOTNOTES */
#footnotes {
    padding-left: 6%;
    margin-top: 30px;
    padding-top: 20px;
    width: 520px;
}

/* FOOTER */
footer {
    padding-top: 30px;
    border-top: 2px solid #33b5bc;
    position: relative;
    float: left;
    width: 1060px;
    margin-bottom: 30px;
}
.contact p {
    text-align: center;
}
.footer-logos {
    float: right;
}
.footer-logos img {
    height: 70px;
    padding: 10px;
    float: right;
}




/* NEEDS TO BE REPLACED BY WHAT IS UP THERE: */


@media (min-width:250px) {
    nav.fixed-top .navbar-logo {
        display: none;
    }
    .arrow-top {
        display: none;
    }
    .TOC-fixed .arrow-top {
        display: block;
    }
    .arrow-top-return {
        display: none;
    }
    .navbar {
        position: relative;
    }
    nav.fixed-top .navbar-header {
        padding: 0 15px;
    }
    nav.fixed-top #report-title h1 {
        margin-left: 70px;
        white-space: nowrap;
    }
    aside {
        width: 100%;
        float: none;
        display: inline-block;
    }
    aside.TOC-fixed {
        width: 100%;
        top: 5px;
        left: 0px;
        z-index: 1060;
    }
    aside.TOC-fixed .toc-menu {
        width: 40px;
        margin-top: 8px;
        margin-left: 20px;
    }
    aside.TOC-fixed h3 {
        margin-top: 8px;
    }
    .toc-hidden {
        display: inline-block;
    }
    .uncollapsed#toc-hidden {
        width: 100%;
        display: inline-block;
    }
    .collapsing, .collapse {
        margin-top: 10px;
        padding: 5px 0 1px 20px;
        background-color: white;
    }
    .collapsing#toc-hidden, .collapse#toc-hidden {
        width: 580px;
        border: 0;
    }
    /* transform it into a hamburger menu at the left of the TITLE */
    .footer-logos {
        width: 100%;
    }
    #main {
        width: 100%;
    }
    .main-research-page-title {
        font-size: 20vw;
    }
    .stretch {
        display:inline-block; 
        font-size: 32px; 
        padding-left: 44px; 
        transform:scale(3.8,1); 
        -webkit-transform:scale(3.8,1); 
        -moz-transform:scale(3.8,1); 
        -ms-transform:scale(3.8,1); 
        -o-transform:scale(3.8,1);
    }
    h1, .h1 {
    font-size: 11vw;
    }
    section p + p {
        text-indent: 15%;
    }
    .img-left figure figcaption {
        padding-left: 15%;
    }
    #report-title {
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }
    #report-info {
        margin-left: 0px;
        width: 100%;
    }
    aside, #footnotes, footer {
        width: 100%;
    }
    .report-content {
        width: 100%;
    }
    article {
        margin-left: 0px;
        width: 100%;
    }
    .two-columns figure {
        max-width: 100%;
    }
    .size1-1 figure img {
        width: initial;
        max-width: 100%;
    }
    .height100 figure img {
        height: initial;
        width: unset;
        max-width: 100%;
    }
    .height150 figure img {
        height: initial;
        width: unset;
        max-width: 100%;
    }
}


@media (min-width:580px) {
    .research-wrapper {
        width: 560px;
    }
    .navbar-header {
        width: 560px;
    }
    nav.fixed-top .navbar-header {
        width: 560px;
        padding: 0px 0px;
    }
    aside.TOC-fixed {
        padding-left: 0px;
    }
    aside.TOC-fixed .TOC-wrapper {
        width: 580px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    aside.TOC-fixed .toc-menu {
        width: 60px;
        margin-left: 0px;
        padding-left: 20px;
    }
    .collapse, .collapsing {
        padding-left: 20px;
    }
    h1 {
        font-size: 70px;
    }
    .logo-HPC-main {
        position: relative;
    }
    .footer-logos {
        width: 100%;
    }
    .main-research-page-title {
        font-size: 100px;
    }
    .stretch {
        display:inline-block; 
        font-size: 32px; 
        padding-left: 57px; 
        transform:scale(6,1); 
        -webkit-transform:scale(6,1); 
        -moz-transform:scale(6,1); 
        -ms-transform:scale(6,1); 
        -o-transform:scale(6,1);
    }
    #report-info {
        margin-left: 0px;
    }
    .report-content {
        clear: none;
        display: inline-block;
    }
    .two-columns figure {
        width: 480px;
    }
    .size1-1 figure img {
        width: initial;
    }
    .height100 figure img {
        height: 100px;
        width: unset;
    }
    .height150 figure img {
        height: 100px;
        width: unset;
    }
}

/* RESPONSIVE */

/* HERE ARE THE NEW (BOOTSTRAPPY) VALUES: */


@media (min-width: 768px) {
    .container {
        width: 100%;
    }
    .navbar-header {
        float: none;
    }
}

@media (min-width: 800px) {
    .research-wrapper, .navbar-header {
        width: 790px;
    }
    nav.fixed-top .navbar-header {
        width: 790px;
    }
    #report-title {
        width: 520px;
    }
    nav.fixed-top #report-title {
        margin-left: 70px;
        width: 790px;
        white-space: nowrap;
    }
    nav.fixed-top #report-title h1 {
        margin-left: 0;
    }
    aside {
        width: 250px;
        float: left;
    }
    aside.TOC-fixed .TOC-wrapper {
        width: 820px;
    }
    .uncollapsed#toc-hidden {
        display: inline-block;
        margin-left: 20px;
    }
    #report-info {
        margin-left: 0px;
        width: 520px;
        border-top: 0px;
        padding-top: 0px;
        float: none;
    }
    #report-abstract {
        float: left;
        width: 248px;
        border-top: 2px solid #33b5bc;
        padding-top: 20px;
    }
    #report-date-author {
        float: left;
        width: 248px;
        margin-left: 18px;
        margin-top: 0px;
        border-top: 2px solid #33b5bc;
    }
    .report-content {
        clear: none;
        display: block;
    }
    article {
        margin-left: 0px;
    }
    footer {
        width: 790px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
        display: block;
    }
}
@media (min-width: 1100px) {
    .research-wrapper, .navbar-header {
        width: 1070px;
    }
    nav.fixed-top .navbar-header {
        width: 1070px;
    }
    .navbar {
        width: 790px;
        float: left;
    }
    .navbar.fixed-top {
        width: 100%;
    }
    .navbar-header {
        width: 1060px;
        float: left;
    }
    .fixed-top .navbar-header {
        width: 1070px;
        float: none;
    }
    .arrow-top {
        right: -5px;
    }
    .arrow-top-return {
        display: block;
        left: 75px;
    }
    #report-title {
        width: 520px;
        margin-left: 20px;
    }
    nav.fixed-top #report-title {
        margin-left: 270px;
        width: 790px;
        white-space: nowrap;
    }
    #report-info {
        width: 250px;
        margin-left: 20px;
        float: left;
    }
    #report-date-author {
        margin-left: 0px;
    }
    .report-content {
        clear: both;
        display: inline-block;
    }
    aside {
        margin-left: 0px;
        width: 250px;
        float: left;
    }
    aside.TOC-fixed, aside.TOC-fixed .TOC-wrapper {
        width: 250px;
        display: block;
    }
    aside.TOC-fixed {
        border-bottom: 0px;
    }
    aside.TOC-fixed .collapse {
        display: inline-block;
        background-color: transparent;
    }
    aside.TOC-fixed .collapsing {
        display: none;
    }
    aside.TOC-fixed .collapse.in {
        display: none;
    }
    aside.TOC-fixed .collapse#toc-hidden {
        background-color: white;
        width: 250px;
        padding-right: 30px;
    }
    .uncollapsed#toc-hidden {
        margin-left: 0;
    }
    article {
        margin-left: 20px;
        width: 780px;
        float: left;
    }
    footer {
        width: 1060px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}


/* PRINT STYLESHEET */

@media print {
    a, a:visited, a:active, a:focus, article a {
        border-bottom: 0px;
    }
    .screen-only {
        display: none;
    }
    .alert {
        display: none;
    }
    h1, .h1 { 
        page-break-after: always;
        letter-spacing: -0.5px;
    }
    figure {
        page-break-inside: avoid;
    }
    header {
        display: none;
    }
    #report-title, #report-info, #report-date-author, aside, article {
        border-top: 0px solid black;
    }
    aside {
        margin-left: 0px;
    }
    aside, footer, .page-break-after {
        page-break-after: always;
    }
    #footer_slide {
        display: initial;
    }
}
@media screen {
    .print-only {
        display: none;
    }
}
