/* GENERAL */

body {
    color: black;
    font-family: "Cotham", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 20px;
    width: 1100px;
    margin: auto;
}

a, a:link, a:hover, a:visited, a:active, a:focus {
    color: black;
    text-decoration: none;
}

p {
    margin: 0 0 0 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

section {
    margin: 10px 0 10px 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul {
    padding-left: 0px;
}
li {
    list-style: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


/* COLUMNS WIDTH ETC */
.clear {
    clear: both;
    display: inline-block;
}
.one-column figure {
    width: 240px;
    margin-right: 20px;
    float: left;
}
.two-columns figure {
    width: 280px;
    margin-right: 20px;
    float: left;
}
.size1-1 figure img {
    width: initial;
}
.height100 figure img {
    height: 100px;
    width: unset;
}
.height150 figure img {
    height: 150px;
    width: unset;
}
.img-left figure img, .img-left figure figcaption {
    margin-left: 0px;
    text-align: left;
}


/* TYPE */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "REGLO";
    color: black;
}

h1, .h1 { 
    font-size: 70px; 
    text-align: left;
    margin-bottom: 40px;
    letter-spacing: -0.2px;
}
h2, .h2 {
    font-family: "REGLO";
    font-size: 35px;
}
h3, .h3 { 
    font-size: 35px;
    text-align: left;
}
p {
    color: black;
    font-family: "Cotham", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.serif-font {
    font-family: "Charter", "Times New Roman", Times, serif;
}
.monospaced-font {
    font-family: "NotCourier", "Courier New", monospace;
}
code, kbd, pre, samp {
    font-family: "NotCourier", "Courier New", monospace;
    font-size: 15px;
}
.font-lato {
    font-family: "LatoMedium";
}
.font-reglo {
    font-family: "REGLO";
}
.font-montserrat {
    font-family: "Montserrat";
}
.font-bagnard {
    font-family: "Bagnard";
}
.font-charter {
    font-family: "Charter";
}
.font-notcourier {
    font-family: "NotCourier";
}
.font-work {
    font-family: "Work";
}
.stretch {
    display:inline-block; 
    font-size: 32px; 
    padding-left: 63px; 
    transform:scale(9,1); 
    -webkit-transform:scale(9,1); 
    -moz-transform:scale(9,1); 
    -ms-transform:scale(9,1); 
    -o-transform:scale(9,1);
}

/* CODE */
code, pre {
    display: block;
    padding: 0px;
    margin: 0 0 0px;
    color: black;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    overflow: "initial";
}


/*//////// MAIN RESEARCH PAGE: TABLE OF CONTENTS ///////*/ 

#main {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 970px;
}
#main img {
    display:block;
    width: 70%;
    margin: auto;
}
/* PAGE TITLE + INFO */
.page-title {
    width: 100%;
    margin-bottom: 30px;
}
.more {
    text-align: center;
}
/* MAIN PAGE > REPORTS */
.cover-dossier {
    width: 250px;
    float: left;
    margin: 30px;
}
.list-group-item {
    border: 2px solid black;
    background-color: white;
}
.main-research-page-title {
    font-size: 144px;
    text-align: center;
}
a.list-group-item:focus, a.list-group-item:hover {
    background-color: white;
    text-decoration: none;
}
/* SLIDES */
#header_slide {
    display: none;
}
#footer_slide {
    display: none;
}
.alert {
    display: none;
}
.validation-show {
    color: rgb(126, 213, 215);
    text-transform: uppercase;
}
/* ALERTS */
.alert-danger {
    border: 2px solid red;
    color: red;
    background-color: white;
}
.alert-success {
    border: 2px solid blue;
    color: blue;
    background-color: white;
}

/*//////// REPORT PAGES ////////*/

/* BORDER-TOP */
#report-title, #report-info, #report-date-author, aside, article, #footnotes {
    border-top: 2px solid rgb(126, 213, 215);
}

/* HEADER */
header {
    width: 250px;
    float: left;
    padding-bottom: 30px;
    border-top: 0px solid black;
}
.logo {
    width: 110px;
    padding: 10px 0px;
    position: relative;
}
.cover-img {
    display:block;
    width: 70%;
    margin: auto;
}
.logo-dossiers {
    font-family: Reglo;
    padding-left: 0px;
    margin-top: 0px;
    font-size: 23px;
}

/* REPORT TITLE */
#report-title {
    width: 520px;
    float: left;
    margin-left: 20px;
}

/* REPORT INFO */
#report-info {
    padding-top: 20px;
    width: 250px;
    float: left;
    margin-left: 20px;
}
#report-info p {
    font-size: 16px;
}
#report-abstract {
    padding-bottom: 30px;
}
#report-date-author {
    padding-top: 20px;
    padding-bottom: 30px;
}
#report-date:before {
    content: "Date:";
    margin-right: 7px;
    color: rgb(126, 213, 215);
}
#report-authors:before {
    content: "By:";
    margin-right: 7px;
    color: rgb(126, 213, 215);
}

/* REPORT CONTENT */
.report-content {
    clear: both;
    display: block;
}

/* ASIDE MENU */
aside {
    width: 250px;
    float: left;
    display: block;
    padding-bottom: 30px;
}
aside h3 {
    font-family: "Cotham";
    font-size: 16px;
    border-bottom: 1px solid black;
    display: inline-block;
}
aside li {
    font-size: 16px;
}

/* REPORT */
article {
    width: 790px;
    margin-left: 20px;
    float: left;
    display: block;
    margin-bottom: 40px;
}
/* IMAGES */
figure {
    margin: 30px 0 30px 0;
}
figcaption {
    margin-top: 20px;
    text-align: center;
}

article img {
    display:block;
    width: 95%;
    margin: auto;
}
article video {
    width: 95%;
}
/* SECTIONS */
article section h2, .h2 {
    font-family: "Cotham";
    font-size: 18px;
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: inline-block;
}
section p + p {
    text-indent: 6%;
    margin-top: 0;
}


/* REPORT S FOOTNOTES */
#footnotes {
    padding-left: 6%;
    margin-top: 30px;
    padding-top: 20px;
    width: 520px;
}

/* FOOTER */
footer {
    padding-top: 30px;
    border-top: 2px solid rgb(126, 213, 215);
    position: relative;
    float: left;
    width: 1060px;
    margin-bottom: 30px;
}
.contact p {
    text-align: center;
}
.footer-logos {
    float: right;
}
.footer-logos img {
    height: 70px;
    padding: 10px;
    float: right;
}


/* RESPONSIVE */

@media (min-width:1100px) {
    aside h3 {
        font-size: 18px;
        margin-top: 40px;
    }
}
@media (min-width:800px) and (max-width:1100px) {
    .footer-logos {
        width: 100%;
    }
    #main {
       width: 100%;
    }
    
    body {
        padding: 20px;
        width: 840px;
        margin: auto;
    }
    #report-info {
        margin-left: 0px;
        width: 520px;
        border-top: 0px;
        padding-top: 0px;
    }
    #report-abstract {
        float: left;
        width: 248px;
        border-top: 2px solid rgb(126, 213, 215);
        padding-top: 20px;
    }
    #report-date-author {
        float: left;
        width: 248px;
        margin-left: 18px;
        margin-top: 0px;
    }
    .report-content {
        clear: none;
    }
    aside {
        margin-left: 20px;
    }
    article {
        margin-left: 0px;
    }
    footer {
        width: 790px;
    }
}
@media (min-width:540px) and (max-width:800px) {
    .footer-logos {
        width: 100%;
    }
    #main {
       width: 100%;
    }
    .main-research-page-title {
        font-size: 100px;
    }
    body {
        padding: 20px;
        width: 560px;
        margin: auto;
    }
    .stretch {
        display:inline-block; 
        font-size: 32px; 
        padding-left: 57px; 
        transform:scale(6,1); 
        -webkit-transform:scale(6,1); 
        -moz-transform:scale(6,1); 
        -ms-transform:scale(6,1); 
        -o-transform:scale(6,1);
    }
    #report-title {
        margin-left: 0px;
    }
    #report-info {
        margin-left: 0px;
    }
    .report-content {
        clear: none;
    }
    aside {
        margin-left: 20px;
        float: left;
    }
    article {
        margin-left: 0px;
        width: 520px;
    }
    footer {
        width: 520px;
    }
}
@media (min-width:250px) and (max-width:540px) {
    .footer-logos {
        width: 100%;
    }
    #main {
       width: 100%;
    }
    .main-research-page-title {
        font-size: 20vw;
    }
    .cover-dossier {
        float: left;
        margin: auto;
        margin-bottom: 20px;
        width: 250px;
    }
    body {
        padding: 20px;
        width: 90%;
        margin: auto;
    }
    .stretch {
        display:inline-block; 
        font-size: 32px; 
        padding-left: 44px; 
        transform:scale(3.8,1); 
        -webkit-transform:scale(3.8,1); 
        -moz-transform:scale(3.8,1); 
        -ms-transform:scale(3.8,1); 
        -o-transform:scale(3.8,1);
    }
    h1, .h1 {
    font-size: 11vw;
    }
    section p + p {
        text-indent: 15%;
    }
    #report-title {
        margin-left: 0px;
        width: 250px;
        width: 100%;
    }
    #report-info {
        margin-left: 0px;
        width: 100%;
    }
    aside, #footnotes, footer {
        width: 100%;
    }
    .report-content {
        width: 100%;
    }
    article {
        margin-left: 0px;
        width: 100%;
    }
}


/* PRINT STYLESHEET */

@media print {
    .screen-only {
        display: none;
    }
    .alert {
        display: none;
    }
    h1, .h1 { 
        page-break-after: always;
        letter-spacing: -0.5px;
    }
    figure {
        page-break-inside: avoid;
    }
    header {
        display: none;
    }
    #report-title, #report-info, #report-date-author, aside, article {
        border-top: 0px solid black;
    }
    aside {
        margin-left: 0px;
    }
    aside, footer, .page-break-after {
        page-break-after: always;
    }
    #footer_slide {
        display: initial;
    }
}
@media screen {
    .print-only {
        display: none;
    }
}